.modal-title {
    font-weight: 600;
    font-size: 16px;
}

.modal-dialog.modal-error {
    max-width: 500px !important;
}
.modal-desc {
    font-size: 13px;
    color: #181c1e;
}

.modal-footer {
    button {
        border-radius: 0px;
        background-color: #e32682;
        border: none !important;
        width: 80px;
        padding: 7px;
        &:hover {
            background-color: #e32682 !important;
        }
    }
    .btn-primary {
        background-color: #248cf0;
    }
    .btn-secondary {
        background-color: #ff2c00;
    }
}
