:root {
    --primary-color: #159cd8;
    --text-color: #181c1e;
}

body {
    position: relative;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.data-user {
    h5 {
        color: #181c1e;
        font-weight: 600;
        font-size: 18px;
    }

    .barcode {
        text-align: center;

        img {
            border-radius: 12px;
            border: 1px solid #909090;
            padding: 10px;
            width: 133px;
        }
    }

    .code {
        margin-top: 10px;
        color: #248cf0;
        font-size: 17px;
        font-weight: 600;
    }

    .data {
        .label {
            font-size: 16px;
            color: #909090;
            min-width: 116px;
        }

        .value {
            color: #181c1e;
        }
    }
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 500;
    left: 0;
    right: 0;
    top: 0;
    background: #fff !important;
    transition: background-color 0.4s ease-in-out;

    .nav-item {
        .nav-link {
            font-size: 16px;
            font-weight: 500;
            position: relative;
            color: var(--primary-color);
            font-family: "Plus Jakarta Sans", sans-serif;

            &.active {
                font-weight: 600;

                &::before {
                    left: 50%;
                    content: "";
                    position: absolute;
                    width: 60%;
                    transform: translate(-50%, -50%);
                    height: 3px;
                    background: var(--primary-color);
                    bottom: 0;
                    top: 30px;
                }
            }
        }
    }

    .navbar-brand {
        position: absolute;
        left: 5%;

        img {
            width: 100px;
        }
    }

    .btn-contact {
        background-color: #e32682;
        color: #fff;
        border-radius: 0px;
        padding: 10px 20px;
        font-weight: 500;
        display: none;
    }

    &.scrolling-active {
        box-shadow: 0px 0px 36px 0px rgb(187 187 187 / 25%);
        background-color: #fff !important;

        .btn-contact {
            display: block;
        }

        .navbar-brand {
            display: block;
        }
    }
}

section {
    padding-top: 44px;
}

.trailer {
    padding-top: 100px;
}

.title {
    font-size: 50px;
    text-align: center;
    font-family: "DrukText-Medium", sans-serif;
    font-weight: 500;
    color: var(--text-color);
}

.title-blue {
    color: var(--primary-color);
}

.btn-cta {
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 10px 0px;
    text-align: center;
    width: 240px;
    font-size: 16px;
    color: #fff;
    border-radius: 0px;
    border: none;
    font-weight: 600;
    background-color: var(--primary-color);
}

.lengkung {
    z-index: -1;
    position: absolute;
    top: -145px;
    width: 100%;
}

.schedule {
    text-align: center;
    padding: 10px;
    background: linear-gradient(180deg, #42a7df 0%, #335e96 100%);
    border: 5px solid #ffffff;
    box-shadow: 0px 2px 11px 3px rgba(0, 0, 0, 0.39);
    border-radius: 14px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    flex-wrap: wrap;
    justify-content: center;
}

.banner {
    height: 113vh;
    position: relative;

    // top: 69px;
    .bg-banner {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .img-brand {
        img {
            width: 100%;
        }
    }

    .content-banner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .line {
        height: 100%;
        background-color: rgba(255, 255, 255, 0.15);
        width: 1px;
        top: 0;
        position: absolute;

        &.line-1 {
            left: 26%;
        }

        &.line-2 {
            left: 50%;
        }

        &.line-3 {
            right: 26%;
        }
    }

    .component {
        &.component-1 {
            animation: animation-1 4s linear infinite;
            position: absolute;
            left: 26%;
            bottom: 20%;
        }

        &.component-2 {
            animation: animation-2 5s linear infinite;
            position: absolute;
            left: 26%;
            bottom: 20%;
        }

        &.component-3 {
            animation: animation-3 5s linear infinite;
            position: absolute;
            right: 26%;
            bottom: 20%;
        }
    }

    @keyframes animation-1 {
        0%,
        100% {
            bottom: 50%;
        }

        50% {
            bottom: 60%;
        }
    }

    @keyframes animation-2 {
        0%,
        100% {
            bottom: 20%;
        }

        50% {
            bottom: 30%;
        }
    }

    @keyframes animation-3 {
        0%,
        100% {
            bottom: 30%;
        }

        50% {
            bottom: 20%;
        }
    }
}

.lineup {
    height: 95vh;
    position: relative;
    .bg-lineup {
        z-index: -2;
        top: -38px;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }

    .guest {
        margin-top: 20px;
        width: 20vw;
    }

    .wrapper-guest {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .asset {
        &:nth-child(1) {
            position: absolute;
            right: 0;
            bottom: -9px;
            z-index: 1;
        }

        &:nth-child(2) {
            position: absolute;
            left: 0;
            width: 25%;
            bottom: -117px;
        }
    }

    .card {
        position: relative;
        border: none;
        height: 270px;
        margin-bottom: 40px;
        border-radius: 25px;

        .card-img {
            height: 100%;

            img {
                filter: brightness(0.9);
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 25px;

                &:hover {
                    filter: brightness(1);
                }
            }
        }

        .card-title {
            color: #fff;
            font-size: 24px;
            position: absolute;
            font-weight: 600;
            bottom: 10px;
            text-align: center;
            width: 100%;
            z-index: 4;
        }

        .overlay {
            position: absolute;
            width: 100%;
            height: 80px;
            bottom: 0;
            border-radius: 20px;
            z-index: 3;
            background: rgb(0, 0, 0);
            background: linear-gradient(
                180deg,
                rgba(187, 38, 255, 0) 0%,
                rgba(210, 38, 183, 0.584378) 46.98%,
                #e32682 99.47%
            );
        }
    }
}

.disabled-seat {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.rundown {
    padding: 100px 0px;
    background-color: #159cd8;
    min-height: 100vh;
    position: relative;
    .table {
        display: none;
    }
    table {
        td {
            border: 3px solid #fff;
            font-weight: 500;
            color: #fff !important;
        }
    }
    .asset {
        transform: rotate(22deg);
        top: 0;
        left: -33px;
        width: 17%;
        position: absolute;
    }
    .title {
        color: #fff;
    }
    .item-rundown {
        font-weight: 600;
        font-size: 18px;
        padding: 15px;
        background: linear-gradient(269.61deg, #42a7df -0.02%, #335e96 129.2%);
        color: #fff;
        border: 6.60473px solid #ffffff;
        border-radius: 18.4932px;
    }
}
.video {
    padding-top: 0px;
    .iframe-video {
        height: 100vh;
    }
}
.registration {
    padding-bottom: 100px;
    position: relative;
    object-fit: cover;

    ::-webkit-scrollbar {
        width: 1px;
        height: 5px;
    }

    .card-klaim {
        border-radius: 20px;
    }

    .terms {
        background-color: transparent;
        color: var(--primary-color);
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        margin-top: 20px;
    }

    .card-body {
        padding: 35px 26px;
    }

    .bg {
        object-fit: cover;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .form-control {
        height: 70px !important;
        border-radius: 0px;
    }

    .btn-cta {
        font-size: 20px;
        width: 100%;
    }
}
.seat-tribun {
    cursor: pointer;
    font-size: 32px !important;
}
.seat-tribun-1 {
    position: absolute;
    left: 56%;
    color: black;
    top: 50%;
    font-size: 51px;
    z-index: 100;
}
.seat-tribun-2 {
    position: absolute;
    left: 56%;
    color: #fff;
    top: 33%;
    font-size: 51px;
    z-index: 100;
}
.seat-tribun-3 {
    position: absolute;
    left: 64%;
    color: black;
    top: 4%;
    font-size: 42px;
    z-index: 100;
}
.seat-tribun-4 {
    position: absolute;
    left: 77%;
    color: black;
    top: 8%;
    font-size: 42px;
    z-index: 100;
}
.seat-tribun-5 {
    position: absolute;
    left: 87%;
    color: black;
    top: 21%;
    font-size: 40px;
    z-index: 10;
}
.seat-tribun-6 {
    position: absolute;
    left: 87%;
    color: black;
    top: 42%;
    font-size: 40px;
    z-index: 10;
}
.seat-tribun-7 {
    position: absolute;
    left: 87%;
    color: black;
    top: 60%;
    font-size: 40px;
    z-index: 10;
}
.seat-tribun-8 {
    position: absolute;
    left: 78%;
    color: black;
    top: 80%;
    font-size: 40px;
    z-index: 10;
}
.seat-tribun-9 {
    position: absolute;
    left: 66%;
    color: black;
    top: 78%;
    font-size: 40px;
    z-index: 10;
}
.seat-1 {
    position: absolute;
    left: 43%;
    top: 49%;
    width: 193px;
    height: 74px;
}
.seat-2 {
    position: absolute;
    left: 43%;
    top: 31%;
    width: 191px;
    height: 75px;
}
.seat-3 {
    position: absolute;
    left: 58%;
    top: 6%;
    width: 98px;
    height: 65px;
}
.seat-4 {
    position: absolute;
    left: 75%;
    top: 5%;
    width: 114px;
    height: 60px;
}
.seat-5 {
    position: absolute;
    left: 85%;
    top: 8%;
    width: 57px;
}
.seat-6 {
    position: absolute;
    left: 84%;
    top: 37%;
    width: 62px;
    height: 97px;
}
.seat-7 {
    position: absolute;
    left: 85%;
    top: 63%;
    width: 58px;
    height: 111px;
}
.seat-8 {
    position: absolute;
    left: 75%;
    top: 77%;
    width: 115px;
    height: 64px;
}
.seat-9 {
    position: absolute;
    left: 61%;
    top: 79%;
    width: 85px;
    height: 55px;
}
.seat {
    cursor: pointer;
}

.amount {
    cursor: pointer;
    font-size: 14x;
}

.amount-seat-1 {
    position: absolute;
    left: 55%;
    color: black;
    top: 60%;
    z-index: 100;
}
.amount-seat-2 {
    position: absolute;
    left: 55%;
    color: #fff;
    top: 43%;
    z-index: 100;
}
.amount-seat-3 {
    position: absolute;
    left: 63%;
    color: black;
    top: 15%;
    z-index: 100;
}
.amount-seat-4 {
    position: absolute;
    left: 82%;
    color: black;
    top: 6%;
    z-index: 100;
}
.amount-seat-5 {
    position: absolute;
    left: 86%;
    color: black;
    top: 30%;
    z-index: 100;
}
.amount-seat-6 {
    position: absolute;
    left: 85%;
    color: black;
    top: 52%;
    z-index: 100;
}
.amount-seat-7 {
    position: absolute;
    left: 86%;
    color: black;
    top: 70%;
    z-index: 100;
}
.amount-seat-8 {
    position: absolute;
    left: 83%;
    color: black;
    top: 87%;
    z-index: 100;
}
.amount-seat-9 {
    position: absolute;
    left: 64%;
    color: black;
    top: 87%;
    z-index: 100;
}

#modalTribun {
    .modal-dialog:not(.modal-error) {
        max-width: 769px !important;
    }
    .modal-content {
        overflow: auto;
    }
}

.wrapper-tribun {
    width: 622px;
}

#modalSuccess {
    .modal-dialog:not(.modal-error) {
        max-width: 933px !important;
    }
    .text-info {
        margin-top: 20px;
        color: #263238 !important;
        font-size: 13px;
        line-height: 25px;
        text-align: center;
    }

    .icon {
        img {
            width: 200px;
        }
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .title {
        font-size: 25px;
    }

    .desc {
        font-size: 16px;
    }
}

.img-tribun {
    width: 100%;
}

.maps {
    position: relative;
    height: 82vh;
    padding: 0px;

    .schedule {
        position: relative;
        z-index: 30;
    }

    .maps-location {
        position: relative;
        z-index: 30;
        width: 90%;
    }

    .title {
        position: relative;
        z-index: 30;
    }

    .bg {
        top: -117px;
        z-index: 20;
        position: absolute;
        width: 100%;
        object-fit: cover;
        height: 120vh;
    }
}

.sponsors {
    background-color: #ebf6f6;
    padding: 100px 20px;

    .img-support {
        width: 123px;
        object-fit: contain;
        aspect-ratio: 3/2;
        margin-top: 30px;
    }
}

footer {
    position: relative;
    padding: 50px 0px;
    background-color: #f7ca45;
    .logo {
        width: 159px;
        aspect-ratio: 3/2;
        object-fit: contain;
    }

    .asset {
        width: 100%;
        position: absolute;
        top: -30px;
        height: 100%;
    }

    .sosmed {
        margin-top: 30px;

        ul {
            li {
                margin: 0px 7px;
                display: inline-block;
            }
        }
    }
}

.img-support-media {
    aspect-ratio: unset !important;
    width: 133px !important;
}

.copyright {
    margin-top: 50px;
    padding: 50px 0px;
    font-weight: 600;
    color: #2b2f33;
    font-size: 14px;
    text-align: center;
}

.wrapper-card-klaim {
    height: 120vh;
}

// Responsive

@media (max-width: 768px) {
    .table {
        display: block !important;
    }
    .list-rundown {
        display: none;
    }
    .iframe-video {
        height: 50vh !important;
    }
    .rundown {
        padding-top: 200px;
    }
    .item-rundown {
        margin-bottom: 20px;
    }
    .title {
        font-size: 35px;
    }
    .lineup .asset:nth-child(1) {
        display: none;
    }
    .maps .bg {
        top: -135px;
        height: 148vh;
    }
    .maps .maps-location {
        margin-bottom: 30px;
    }
    .registration .btn-cta {
        font-size: 18px;
    }

    .lineup .asset:nth-child(2) {
        width: 35%;
        bottom: 0;
    }
    .wrapper-sosmed {
        text-align: center;
    }

    .navbar .navbar-brand img {
        width: 84px;
    }

    .navbar-brand {
        padding: 0px;
        position: unset !important;
    }

    .sosmed {
        margin-bottom: 50px;
    }

    .component,
    .line {
        display: none;
    }

    .asset-2 {
        display: none;
    }

    .container {
        padding: 0px 34px;
    }
    footer {
        .logo {
            width: 116px;
        }
    }
}

@media (max-width: 992px) {
    .lineup .guest {
        width: 45vw;
    }

    .lineup {
        height: 77vh;
    }

    .lineup .asset:nth-child(1) {
        width: 135px;
        position: absolute;
        right: 0;
        bottom: -52px;
        z-index: 1;
    }

    .navbar .navbar-brand {
        display: block;
    }

    .navbar.scrolling-active .btn-contact {
        display: none;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        background-color: #fff;
        border-radius: 20px;
        min-height: 135px;
        z-index: 2;
        transition: all 0.4s ease;
    }

    .navbar-collapse.show {
        top: 100%;
        width: 270px;
        right: 2%;
    }

    .navbar .nav-item .nav-link {
        color: var(--primary-color);
        margin-bottom: 10px;
    }

    .navbar .navbar-nav {
        flex-direction: column;
    }

    .navbar .nav-item .nav-link.active::before {
        transform: unset;
        left: 6%;
        width: 16%;
    }

    .navbar {
        &.scrolling-active {
            .navbar-toggler-icon {
                svg {
                    path {
                        stroke: #181c1e;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .banner .content-banner .schedule {
        font-size: 20px;
    }

    .banner .content-banner {
        width: 80%;
    }

    .marquee span {
        -webkit-text-stroke: 1px #bb26ff;
        font-size: 60px;
    }

    .marquee-w {
        margin-top: 30px;
        height: 111px;
    }
}
