@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../fonts/inter-variable.ttf");
}
@font-face {
  font-family: "Gilory-Bold";
  src: url("../../fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilory-Regular";
  src: url("../../font/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilory-Heavy";
  src: url("../../fonts/Gilroy-Heavy.ttf");
}
@font-face {
  font-family: "Gilory-Medium";
  src: url("../../fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilory-SemiBold";
  src: url("../../font/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilory-Extrabold";
  src: url("../../fonts/Gilroy-ExtraBold.ttf");
}
:root {
  --primary: #159cd8;
  --text: #181c1e;
  --text-light: #909090;
  --orange: #ffa736;
  --border: #eceff1;
}

.main-sidebar .sidebar-brand {
  height: 100px;
  padding: 16px;
  display: flex;
  justify-content: center;
}

.main-sidebar .sidebar-brand img {
  width: 148px;
  -o-object-fit: contain;
     object-fit: contain;
}

.sidebar-menu .nav-link span {
  color: #898989;
}
.sidebar-menu li.active .nav-link span {
  color: #fff;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  background: linear-gradient(82.45deg, #159cd8 19.35%, #0baef7 56.69%, #5fbbff 100.16%);
}

.main-content .title {
  font-size: 24px;
  font-weight: 600;
  color: var(--text);
}
.main-content .total-item {
  color: var(--text);
  font-size: 17px;
  font-weight: 500;
}
.main-content .card {
  box-shadow: none;
  width: 100%;
}
.main-content .btn-orange {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: var(--orange);
}
.main-content .btn-orange:hover {
  color: #fff !important;
  background-color: var(--orange) !important;
}
.main-content .btn-green {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: #3cb778;
}
.main-content .btn-green:hover {
  color: #fff !important;
  background-color: #3cb778 !important;
}
.main-content .btn-blue {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: #0071ce;
}
.main-content .btn-blue:hover {
  color: #fff !important;
  background-color: #0f7cd4 !important;
}
.main-content .btn-red {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: #de2828;
}
.main-content .btn-red:hover {
  color: #fff !important;
  background-color: #de2828 !important;
}

.timepicker {
  margin-top: 0px !important;
  box-shadow: none !important;
}

.input-group-text,
select.form-control:not([size]):not([multiple]),
.form-control:not(.form-control-sm):not(.form-control-lg) {
  height: 46px;
  background-color: transparent;
}

.badge {
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
}

.badge-green {
  background-color: #d7ffea;
  color: #3cb778;
  padding: 10px;
  font-weight: 500;
  text-align: center;
}

.badge-red {
  background-color: #ffd7d7;
  color: #ff3d3d;
  padding: 10px;
  font-weight: 500;
  text-align: center;
}

#tableParticipant td {
  vertical-align: middle;
}

.pointer {
  cursor: pointer;
}

.form-control:disabled {
  background-color: #f7f7f7 !important;
}

a:hover {
  text-decoration: none;
}

.form-label {
  font-weight: 500;
  font-size: 15px;
  color: #181c1e;
}

.btn-save,
.modal .btn-save {
  width: unset !important;
  padding: 10px 15px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #fff !important;
  line-height: 24px;
  background-color: var(--primary) !important;
}
.btn-save:hover,
.modal .btn-save:hover {
  color: #fff !important;
  background-color: var(--primary) !important;
}

.modal .btn-orange {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: var(--orange);
  width: unset;
}
.modal .btn-orange:hover {
  color: #fff !important;
  background-color: var(--orange) !important;
}

.modal .btn-red {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: #de2828;
}
.modal .btn-red:hover {
  color: #fff !important;
  background-color: #de2828 !important;
}

input[type=checkbox] {
  height: 22px !important;
}

.table:not(.table-sm) thead th {
  font-weight: 500;
  background-color: transparent;
}

.table td,
.table th {
  height: 30px !important;
  font-size: 14px;
  color: #263238 !important;
  padding: 10px !important;
  border: 1px solid var(--border);
}

.table td,
.table:not(.table-bordered) th {
  border-top: 1px solid var(--border);
}

.main-footer {
  margin-top: 0px;
  padding-top: 40px;
}

.main-content {
  min-height: 100vh;
  background-color: #f4f6fa;
}

.form-control {
  height: 46px !important;
}

input[type=color] {
  cursor: pointer;
  padding: 0px !important;
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
}

.btn.close {
  font-size: 26px !important;
  color: #667080 !important;
}
.btn.close:hover {
  background-color: transparent !important;
}

.title-card {
  font-size: 16px;
  font-weight: 500;
  color: #263238;
}

.sidebar-menu li.active a svg path {
  stroke: #fff;
}

.select2 {
  width: 100% !important;
}

.modal-title {
  color: var(--text);
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
}

.fade-out {
  animation: fadeOut ease 3s;
  -webkit-animation: fadeOut ease 3s;
  -moz-animation: fadeOut ease 5s;
  -o-animation: fadeOut ease 5s;
  -ms-animation: fadeOut ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.queue .content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.queue .content .title {
  font-size: 80px;
  color: #fff;
  font-family: "Gilory-Extrabold", sans-serif !important;
  opacity: 0;
  text-transform: uppercase;
}
.queue .content .title.force {
  opacity: 1;
}
.queue .content.booth .img-nominasi {
  height: unset;
}
.queue .content.booth .nominasi.winner .name {
  top: 30%;
}
.queue .content.booth .name {
  top: -90%;
  bottom: unset;
  font-size: 30px;
}
.queue .content.winner.booth {
  position: fixed;
  height: 100vh;
}
.queue .content.winner.booth .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.queue .content.winner.booth .name {
  top: unset;
  bottom: 50%;
}
.queue .content.winner.booth .nominasi {
  transform: unset;
  -webkit-transform: unset;
  -moz-transform: unset;
  -ms-transform: unset;
  -o-transform: unset;
}
.queue .content.winner.booth .nominasi[data-sort="0"] {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.queue .content.winner.booth .nominasi[data-sort="1"] {
  top: 40%;
  left: 5%;
}
.queue .content.winner.booth .nominasi[data-sort="2"] {
  top: 40%;
  right: 5%;
  left: unset;
}
.queue .nominasi {
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.queue .nominasi.force {
  opacity: 1;
}
.queue .nominasi.winner .img-nominasi {
  position: absolute;
  top: 10px;
  left: 50%;
  top: 35%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.queue .nominasi .name {
  text-transform: uppercase;
  font-family: "Gilory-Extrabold", sans-serif !important;
  background: rgba(183, 183, 183, 0.36);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 200px;
  position: absolute;
  color: #fff;
  transform: translate(-50%, 0%);
  left: 50%;
  bottom: 4%;
  padding: 15px;
  font-size: 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
}
.queue .img-nominasi {
  position: relative;
  top: 10px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.queue .wrapper {
  padding: 0px 50px;
}
.queue .bg {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
}
.queue .logo {
  text-align: center;
  width: 200px;
  margin-top: 40px;
}
.queue .card-queue {
  /*Fromhttps:;
  //css.glass*/
  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgb(255, 255, 255);
  color: #fff;
  padding: 20px;
  border: 1px solid #fff;
  height: 100%;
}
.queue .card-queue .header {
  background: rgba(25, 23, 23, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgb(255, 255, 255);
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  padding: 13px;
  border-radius: 10px;
  margin: 20px 0px 40px;
}
.queue .card-queue .header .title {
  font-family: "Gilory-Extrabold", sans-serif !important;
  font-size: 30px;
  font-weight: 600;
}
.queue .card-queue .header .sub-title {
  font-family: "Gilory-Extrabold", sans-serif !important;
  font-size: 26px;
  font-weight: 600;
}
.queue .card-queue .card {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.queue .card-queue .card .card-item-queue {
  text-align: center;
  width: 158px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.queue .card-queue .card .card-item-queue.next {
  border: 1px solid #fea928;
}
.queue .card-queue .card .card-item-queue.next .number,
.queue .card-queue .card .card-item-queue.next .desc {
  color: #fea928;
}
.queue .card-queue .card .card-item-queue.rest {
  border: 1px solid #1c8d7f;
}
.queue .card-queue .card .card-item-queue.rest .number,
.queue .card-queue .card .card-item-queue.rest .desc {
  color: #1c8d7f;
}
.queue .card-queue .card .card-item-queue.on-going {
  border: 1px solid #005aa5;
}
.queue .card-queue .card .card-item-queue.on-going .number,
.queue .card-queue .card .card-item-queue.on-going .desc {
  color: #005aa5;
}
.queue .card-queue .card .card-item-queue .number {
  font-size: 30px;
  font-family: "Gilory-Extrabold", sans-serif !important;
}
.queue .card-queue .card .card-item-queue .desc {
  font-size: 16px;
  font-family: "Gilory-Medium", sans-serif !important;
}
.queue .card-queue .card-caption {
  width: 100%;
  position: relative;
  top: -37px;
  z-index: -1;
}
.queue .card-queue .card-caption img {
  width: 100%;
}
.queue .card-queue .card-caption .caption {
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-family: "Gilory-Bold", sans-serif !important;
  text-transform: uppercase;
  text-align: center;
}

#app #logo-navbar {
  display: none;
}

#app.queue-container .main-sidebar {
  display: none;
}
#app.queue-container .navbar {
  left: 0px;
}
#app.queue-container .navbar .fa-bars {
  display: none;
}
#app.queue-container .navbar #logo-navbar {
  display: block;
}
#app.queue-container .navbar .navbar-right {
  display: none;
}
#app.queue-container .main-content {
  padding-left: 30px;
  padding-right: 30px;
}/*# sourceMappingURL=main.css.map */