section {
  padding: 129px 0px 50px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 20;
  left: 0;
  right: 0;
  top: 0;
  background: #fff !important;
}
.navbar .nav-item .nav-link {
  position: relative;
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.navbar .nav-item .nav-link.active::before {
  left: 50%;
  content: "";
  position: absolute;
  width: 60%;
  transform: translate(-50%, -50%);
  height: 3px;
  background: #bb26ff;
  bottom: 0;
  top: 30px;
}
.navbar .navbar-brand {
  display: none;
}
.navbar .navbar-brand img {
  width: 100px;
}
.navbar .btn-contact {
  background-color: #e32682;
  color: #fff;
  border-radius: 0px;
  padding: 10px 20px;
  font-weight: 500;
  display: none;
}
.navbar.scrolling-active {
  box-shadow: 0px 0px 36px 0px rgba(187, 187, 187, 0.25);
  background-color: #fff !important;
}
.navbar.scrolling-active .btn-contact {
  display: block;
}
.navbar.scrolling-active .navbar-brand {
  display: block;
}
.navbar.scrolling-active .nav-item .nav-link {
  color: #181c1e;
}

.navbar {
  box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.12);
}
.navbar .nav-item .nav-link {
  color: #181c1e;
}
.navbar .btn-contact {
  display: block;
}
.navbar .navbar-brand {
  display: block;
}

.icon img {
  width: 264px;
}

.title {
  font-weight: 600;
  margin-top: 30px;
  font-size: 24px;
  color: #181c1e;
}
.title span {
  color: #45d42e;
}

.data-user {
  margin-top: 20px;
  padding: 30px 30px;
  border-radius: 10px;
  border: 1px solid #eceff1;
}
.data-user h5 {
  color: #181c1e;
  font-weight: 600;
  font-size: 18px;
}
.data-user .barcode {
  text-align: center;
}
.data-user .barcode img {
  border-radius: 12px;
  border: 1px solid #909090;
  padding: 10px;
  width: 100%;
}
.data-user .code {
  margin-top: 10px;
  color: #248cf0;
  font-size: 17px;
  font-weight: 600;
}
.data-user .data .label {
  font-size: 16px;
  color: #909090;
  min-width: 200px;
}
.data-user .data .value {
  color: #181c1e;
}

@media (max-width: 992px) {
  .navbar .navbar-brand {
    display: block;
  }
  .navbar.scrolling-active .btn-contact {
    display: none;
  }
  .navbar-collapse {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    background-color: #fff;
    border-radius: 20px;
    min-height: 135px;
    z-index: 2;
    transition: all 0.4s ease;
  }
  .navbar-collapse.show {
    top: 100%;
    width: 270px;
    right: 2%;
  }
  .navbar .nav-item .nav-link {
    color: #181c1e;
    margin-bottom: 10px;
  }
  .navbar .navbar-nav {
    flex-direction: column;
  }
  .navbar .nav-item .nav-link.active::before {
    transform: unset;
    left: 6%;
    width: 16%;
  }
  .navbar.scrolling-active .navbar-toggler-icon svg path {
    stroke: #181c1e;
  }
  .barcode img {
    width: 120px !important;
  }
  .data-user .data .value {
    width: 215px;
  }
}/*# sourceMappingURL=registration.css.map */