.badge-green {
    width: 100px;
}

.detail {
    cursor: pointer;
}
.card-barcode {
    padding: 40px;
    display: flex;
    border-radius: 0.25rem;
    .img-barcode {
        border: 1px solid #909090;
        background-color: #fff;
        padding: 3px;
        text-align: center;
        border-radius: 20px;
        img {
            width: 250px;
        }
    }
    .code {
        font-size: 20px;
        margin-top: 20px;
        color: var(--primary);
        font-weight: 600;
        text-align: center;
    }
}
