:root {
    --primary-color: #e32682;
    --text-color: #181c1e;
}

body {
    position: relative;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    background: transparent !important;
    transition: background-color 0.4s ease-in-out;
    .nav-item {
        .nav-link {
            position: relative;
            color: #fff;
            font-family: "Plus Jakarta Sans", sans-serif;

            &.active {
                &::before {
                    left: 50%;
                    content: "";
                    position: absolute;
                    width: 60%;
                    transform: translate(-50%, -50%);
                    height: 3px;
                    background: #bb26ff;
                    bottom: 0;
                    top: 30px;
                }
            }
        }
    }
    .navbar-brand {
        img {
            width: 100px;
        }
        display: none;
    }
    .btn-contact {
        background-color: #e32682;
        color: #fff;
        border-radius: 0px;
        padding: 10px 20px;
        font-weight: 500;
        display: none;
    }
    &.scrolling-active {
        box-shadow: 0px 0px 36px 0px rgb(187 187 187 / 25%);
        background-color: #fff !important;
        .btn-contact {
            display: block;
        }
        .navbar-brand {
            display: block;
        }
        .nav-item {
            .nav-link {
                color: #181c1e;
            }
        }
        .navbar-toggler-icon {
        }
    }
}

section {
    padding-top: 44px;
}

.marquee-w {
    position: relative;
    display: block;
    width: 100%;
    height: 164px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    margin-top: 100px;
}
.marquee {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
}
.marquee span {
    display: inline-block;
    padding-left: 100%;
    color: #fff;
    -webkit-text-stroke: 3px #bb26ff; /* width and color */
    font-family: "DrukText-Bold", sans-serif;
    text-align: center;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
    line-height: 140px;
    font-size: 120px;
    animation: marquee 10s linear infinite;
}
.marquee2 span {
    animation-delay: 5s;
}
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
.trailer {
    padding-top: 100px;
}
.title {
    font-size: 50px;
    text-align: center;
    font-family: "DrukText-Medium", sans-serif;
    font-weight: 500;
    color: var(--text-color);
}
.btn-cta {
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 20px 0px;
    text-align: center;
    width: 240px;
    font-size: 16px;
    color: #fff;
    border-radius: 0px;
    border: none;
    font-weight: 600;
    background-color: var(--primary-color);
}

.banner {
    height: 100vh;
    position: relative;
    .bg-banner {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .img-brand {
        img {
            width: 400px;
        }
    }
    .content-banner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .schedule {
            font-family: "Plus Jakarta Sans", sans-serif;
            color: #fff;
            font-weight: 600;
            font-size: 28px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .sosmed {
        position: absolute;
        bottom: 40px;
        left: 100px;
        ul {
            li {
                margin-right: 15px;
                display: inline-block;
            }
        }
    }

    .line {
        height: 100%;
        background-color: rgba(255, 255, 255, 0.15);
        width: 1px;
        top: 0;
        position: absolute;
        &.line-1 {
            left: 26%;
        }
        &.line-2 {
            left: 50%;
        }
        &.line-3 {
            right: 26%;
        }
    }
    .component {
        &.component-1 {
            animation: animation-1 4s linear infinite;
            position: absolute;
            left: 26%;
            bottom: 20%;
        }

        &.component-2 {
            animation: animation-2 5s linear infinite;
            position: absolute;
            left: 26%;
            bottom: 20%;
        }

        &.component-3 {
            animation: animation-3 5s linear infinite;
            position: absolute;
            right: 26%;
            bottom: 20%;
        }
    }

    @keyframes animation-1 {
        0%,
        100% {
            bottom: 50%;
        }
        50% {
            bottom: 60%;
        }
    }

    @keyframes animation-2 {
        0%,
        100% {
            bottom: 20%;
        }
        50% {
            bottom: 30%;
        }
    }

    @keyframes animation-3 {
        0%,
        100% {
            bottom: 30%;
        }
        50% {
            bottom: 20%;
        }
    }
}

.lineup {
    position: relative;
    .asset-1 {
        &:nth-child(1) {
            position: absolute;
            left: 0;
            top: 0;
        }
        &:nth-child(2) {
            position: absolute;
            right: 40px;
            bottom: -60px;
        }
    }
    .card {
        position: relative;
        border: none;
        height: 270px;
        margin-bottom: 40px;
        border-radius: 25px;
        .card-img {
            height: 100%;
            img {
                filter: brightness(0.9);
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 25px;
                &:hover {
                    filter: brightness(1);
                }
            }
        }
        .card-title {
            color: #fff;
            font-size: 24px;
            position: absolute;
            font-weight: 600;
            bottom: 10px;
            text-align: center;
            width: 100%;
            z-index: 4;
        }

        .overlay {
            position: absolute;
            width: 100%;
            height: 80px;
            bottom: 0;
            border-radius: 20px;
            z-index: 3;
            background: rgb(0, 0, 0);
            background: linear-gradient(
                180deg,
                rgba(187, 38, 255, 0) 0%,
                rgba(210, 38, 183, 0.584378) 46.98%,
                #e32682 99.47%
            );
        }
    }
}

.registration {
    position: relative;
    .asset-2 {
        &:nth-child(1) {
            position: absolute;
            left: 0;
            top: 0;
        }
        &:nth-child(2) {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
        &:nth-child(3) {
            position: absolute;
            right: 100px;
            bottom: 0;
        }
    }
    .form-control {
        height: 70px !important;
        border-radius: 0px;
    }
    .btn-cta {
        font-size: 24px;
        width: 100%;
    }
}

.sponsors {
    .item-sponsors {
        margin: 0px 20px;
        img {
            width: 200px;
        }
    }
}

.asset-3 {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
}

.copyright {
    margin-top: 50px;
    padding: 50px 0px;
    font-weight: 600;
    color: #2b2f33;
    font-size: 14px;
    text-align: center;
}

// Responsive

@media (max-width: 768px) {
    .component,
    .line {
        display: none;
    }

    .asset-2 {
        display: none;
    }

    .banner .img-brand img {
        width: 200px;
    }
    .container {
        padding: 0px 34px;
    }
}

@media (max-width: 992px) {
    .navbar .navbar-brand {
        display: block;
    }
    .navbar.scrolling-active .btn-contact {
        display: none;
    }
    .navbar-collapse {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        background-color: #fff;
        border-radius: 20px;
        min-height: 135px;
        z-index: 2;
        transition: all 0.4s ease;
    }
    .navbar-collapse.show {
        top: 100%;
        width: 270px;
        right: 2%;
    }

    .navbar .nav-item .nav-link {
        color: #181c1e;
        margin-bottom: 10px;
    }
    .navbar .navbar-nav {
        flex-direction: column;
    }

    .navbar .nav-item .nav-link.active::before {
        transform: unset;
        left: 6%;
        width: 16%;
    }
    .navbar {
        &.scrolling-active {
            .navbar-toggler-icon {
                svg {
                    path {
                        stroke: #181c1e;
                    }
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .banner .content-banner .schedule {
        font-size: 20px;
    }

    .banner .content-banner {
        width: 70%;
    }
    .marquee span {
        -webkit-text-stroke: 1px #bb26ff;
        font-size: 60px;
    }
    .marquee-w {
        margin-top: 30px;
        height: 111px;
    }
}
