.title-card {
  font-weight: 500;
}

.card {
  background-color: #fff;
  box-shadow: none !important;
  border-radius: 10px !important;
}

.desc-card {
  color: #898989;
  font-size: 12px;
}

.btn-add {
  padding: 0px;
  margin: 0px;
  font-weight: 500;
  background-color: transparent;
  color: #159cd8;
}

label {
  font-weight: 600;
  color: #34395e;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.boxarea {
  height: 150px;
  border: 1px dashed #eceff1;
}

.dashboard {
  color: #263238;
}

.card {
  margin-bottom: 20px;
}

.see-all {
  color: #898989;
}

.total {
  font-weight: 600;
  font-size: 18px;
}

.card-tribun {
  border-radius: 5px;
  padding: 20px;
  color: #fff;
}/*# sourceMappingURL=dashboard.css.map */