/* CSS only for examples not required for centering */

.login {
    overflow-x: hidden;
}

.login .title-form {
    margin-top: 35px;
}

.title-form .welcome-text {
    font-size: 28px;
    color: var(--text);
    font-weight: 500;
}

.title-form .desc-text {
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.login .banner {
    background: rgb(20, 103, 163);
    background: linear-gradient(
        309deg,
        rgba(20, 103, 163, 1) 0%,
        rgba(88, 184, 254, 1) 100%
    );
    height: 100vh;
    position: relative;
}

.login .img-logo {
    margin-top: 20px;
}

.login .logo {
    width: 250px;
}

.login .banner .screen-img {
    width: 300px;
    height: 300px;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
}

.login .content {
    padding: 38px 90px;
}

.login .d-table {
    padding: 0px !important;
}

.login .elipse-top {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 50%;
    width: 250px;
    height: 250px;
}

.login .elipse-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 50%;
    width: 250px;
    height: 250px;
}

.login .square {
    position: absolute;
    top: 64px;
    left: 137px;
    width: 150px;
    height: 150px;
}

.login .square2 {
    position: absolute;
    bottom: 206px;
    right: 128px;
    width: 150px;
    height: 150px;
}

.register .square {
    position: absolute;
    top: 48px;
    left: 100px;
}

.register .square2 {
    position: absolute;
    bottom: 197px;
    right: 121px;
}

.banner .owl-theme .owl-dots .owl-dot span {
    background: #ffff;
    width: 6px;
    height: 6px;
}

.banner .owl-theme .owl-dots .owl-dot.active span {
    background: #fff;
    height: 6px;
    width: 30px;
}

/* show border around full height container */

.btn.btn-outline-dark {
    border: 2px solid #32cfb0;
    color: white;
    font-weight: normal;
    border-radius: 0;
}

.btn.btn-outline-dark:hover,
.btn.btn-outline-dark:active,
.btn.btn-outline-dark:focus,
.btn.btn-outline-dark:visited {
    background-color: #222222;
    border-color: #222222;
    outline: unset;
}

.btn-success-custom {
    background: #32cfb0;
    color: white;
    font-size: 13px;
    padding: 10px 26px;
    border-radius: 0;
}

.btn-success-custom:hover:not(:disabled),
.btn-success-custom:focus:not(:disabled),
.btn-success-custom:active:not(:disabled) {
    background-color: #222222;
    color: white;
}

.btn-success-custom:disabled,
.btn-success-custom:disabled:hover {
    background: #636363 !important;
    color: white;
}

.login .btn:hover {
    color: #fff !important;
}

.form-group {
    position: relative;
}

.login .form-group label {
    font-weight: 500;
    font-size: 16px;
    color: var(--text);
}

.login .form-group .form-control {
    color: var(--text);
    /* border-radius: 4px; */
    border: 1px solid #c4c4c4;
    padding: 23px 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
}

.btn-form {
    background-color: var(--primary);
    width: 100%;
    color: #fff;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 0px;
}

.text-link a {
    text-decoration: underline;
    font-size: 14px;
}

.text-link {
    font-size: 14px;
}

.login .text-banner {
    position: absolute;
    color: #fff;
    font-size: 40px;
    margin-top: 30px;
    top: 20px;
    left: 30px;
    font-weight: 600;
    text-align: left;
}

.login .text-banner .title {
    font-size: 24px;
}

.login .text-banner .desc-title {
    font-size: 16px;
    color: #dcdada;
    font-weight: 300;
    margin-top: 20px;
    padding: 0px 100px;
}

/* Modal */

.modal-email .btn {
    background-color: #32cfb0;
    color: white;
    padding: 5px 20px;
}

.modal-email {
    padding: 0px 50px;
}

.modal-email span {
    color: #adadad;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 300;
}

.modal-email svg {
    width: 60px;
    margin: auto;
}

.login .card {
    background: transparent;
    box-shadow: none;
    border: none;
}

.input-group-text {
    background-color: #fff;
    border-right: none;
    border-color: #c4c4c4;
}

.img-banner {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: 100%;
    top: 0;
    left: 0;
}

/* Carousel */

#owl-login {
    position: absolute;
    bottom: 38px;
}

/* Register */

.register .banner .screen-img {
    width: 400px;
    height: 400px;
}

/* Media Query */
@media (min-width: 768px) and (max-width: 900px) {
    .login .content {
        padding: 0px 90px;
    }
}

@media (max-width: 768px) {
    .login .col-banner {
        display: none !important;
    }

    .login .col-content {
        background-color: #32d2a2;
    }

    .login .content {
        padding: 0px 10px;
    }

    .login .card {
        margin: 60px !important;
        padding: 20px !important;
    }
}

@media (max-width: 467px) {
    .forgot-password .login-title h3 {
        font-size: 19px;
    }
}
