.nav {
    li {
        padding: 0px;
        margin: 0px;
        margin-right: 15px;
        font-size: 17px;

        a {
            padding: 7px;
            font-weight: 400;
            color: #909090;
            &.active {
                font-weight: 500;
                border-bottom: 3px solid var(--primary);
                color: var(--primary);
            }
        }
    }
}

.dashboard .main-content .title-section {
    padding: 0px;
}

select {
    width: 100%;
}

.iframeContainer {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-color: #eceff1;
}

.iframeContainer html {
    overflow: hidden;
}

.iframeContent {
    position: absolute;
    height: 100%;
    width: 564px;
    overflow-y: hidden;
}

.img-template img {
    width: 100%;
    height: 233px;
    object-fit: cover;
}

.category-templete {
    padding: 15px;
}

.category-templete .name {
    font-weight: 600;
    color: #181c1e;
}

.category-templete .status {
    color: #00a65a;
}

.item-landingpage {
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
    border: 1px solid #eceff1;
    border-radius: 5px;
    position: relative;
}

.icon-checklist {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

.item-landingpage.active .icon-checklist {
    display: block;
}

.item-landingpage.active {
    border: 4px solid var(--primary);
}

.item-landingpage .card-detail .card-general-info {
    margin-bottom: 0px;
}

.item-landingpage:hover {
    text-decoration: none;
}

.iframeContainer:hover .preview {
    display: block;
}

.modal .no-js {
    overflow-x: hidden !important;
}

.preview {
    background: #00000052;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    display: none;
    cursor: pointer;
}

.icon-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-preview {
    max-width: 1484px !important;
}

.modal .iframeContent {
    width: 100%;
}

.modal .iframeContainer {
    height: 100%;
}

#modalPreview.modal .modal-body {
    height: 687px;
}

.featured-product {
    border: #eceff1 1px solid;
    border-radius: 3px;
    padding: 15px;
}

.featured-product .list-item .item {
    border: #eceff1 1px solid;
    border-radius: 3px;
    /* padding : 15px; */
    padding: 0px !important;
    position: relative;
    height: 179px;
    cursor: pointer;
    font-size: 14px;
}

.featured-product .list-item .item .icon-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.featured-product .list-item .item .img-product {
    width: 100%;
    height: 92px;
    object-fit: contain;
}

.featured-product .list-item .item .price {
    color: #d17b08;
    font-weight: 500;
}

.featured-product .list-item .item .name {
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.invalid-feedback,
.valid-feedback {
    display: block !important;
}

.sponsors-wrapper {
    background-color: #eceff1;
    padding: 20px;
    .zone-img {
        background-color: #fff;
        padding: 5px;
        height: 100px;
        position: relative;
        margin-bottom: 20px;
        .logo {
            padding: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 100%;
        }
        .icon-delete {
            right: -8px;
            top: -8px;
            position: absolute;
        }
    }
}
