#sectionRe-registration {
    background-image: url("../../img/bg_checkin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: top center;
}

section {
    margin-top: 100px;
}

.logo {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
}

.tagline {
    // position: absolute;
    // top: 2%;
    /* width: 180px; */
    left: 20px;
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

.img-bottom {
    position: absolute;
    bottom: -5%;
    width: 100%;
}

.card-schedule {
    margin-top: 30px;
}

.title {
    font-size: 70px;
    color: #335f97;
    font-weight: 600;
}
.schedule {
    text-align: center;
    padding: 10px;
    background: linear-gradient(180deg, #42a7df 0%, #335e96 100%);
    border: 5px solid #ffffff;
    box-shadow: 0px 2px 11px 3px rgba(0, 0, 0, 0.39);
    border-radius: 14px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    flex-wrap: wrap;
    justify-content: center;
}

.asset-1 {
    &:nth-child(1) {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 200px;
    }
    &:nth-child(2) {
        position: absolute;
        left: -94px;
        top: -86px;
    }
}

.col {
    padding: 5px !important;
}

.border {
    span {
        color: #2b2f33;
    }
    height: 71px;
    border-radius: 10px;
    border: 2px solid #eceff1 !important;
}
input.form-control {
    height: 71px !important;
    border: 4px solid #eceff1 !important;
    border-radius: 10px;
}
.line {
    width: 6px;
    background-color: #eceff1;
    height: 70px;
}

#btnScan {
    border: 4px solid #eceff1 !important;
    width: 90%;
    margin-right: 14px;
}

#btn-regist {
    width: 80px;
    height: 68px;
    position: absolute;
    top: 2px;
    right: 17px;

    button {
        border: 0px;
        width: 100%;
        height: 100%;
        border: 2px solid #eceff1;
        background-color: #159cd8;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
.input-group {
    input {
        border: 2px solid #eceff1 !important;
        border-radius: 10px;
        height: 71px !important;
        background-color: #fff;
    }
    .input-group-append {
        .input-group-text {
            height: 71px;
            padding: 0px;
            width: 74px;
            border-radius: 10px;
        }
    }
}

.img-banner {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 50%;
}

.wrapper-registration {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #btnScan {
        margin-bottom: 20px;
        margin-right: 0;
        width: 100%;
        height: 50px;

        svg {
            width: 25px;
        }
    }
    .wrapper-registration {
        position: absolute;
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }

    #uniqCode {
        height: 50px!important;
        font-size: 12px;
    }

    #btn-regist{
        width: 65px;
        height: 46px;

        svg {
            width: 30px;
        }
    }

    .logo {
        top: 10%;
        width: 300px;
    }
    
    .tagline {
        top: 30%;
        height: 45px;
    }
}


.form-control {
    background-color: white!important;
}